html {
    height: 100%;
}

body {
    margin: 10;
    min-height: 100%;
    overflow: hidden;
    background-color: #111111;    
}

#canvasMain { 
    z-index: 6;
    visibility: visible;
    background-color: #333333;    
    outline: 4px solid #222222; 
    outline-offset: -4px;
}

#compileIMG { 
    z-index: 8;
    background-color: #555;
    border: 4px solid #222222;
    /* outline: 4px solid #222222; 
    outline-offset: -4px; */
}

#canvasConsole { 
    z-index: 8;
    padding-left: 6px;
    background-color: #999999;    
    outline: 4px solid #222222; 
    outline-offset: -4px;
    /* outline: 4px solid #222222; 
    outline-offset: -4px; */
}

#container { 
    background-color: aquamarine;
    visibility: hidden;
}